

<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Trips management</h3>

    <div class="table ">
      <table>
          <thead>
          <tr>
              <th>Name</th>
              <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            First
            Delete
          </tr>
          <tr>
            Second
            Delete
          </tr>
          </tbody>
          </table>
    </div>
    
    
    
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="trip">Add a trip</label>
        <input type="text" name="tripName" ngModel required #trip="ngModel" class="form-control" id="tripName"
          placeholder="Enter trip name">
      </div>

      <button type="submit" (click)="FirstClick()" class="btn btn-primary"> ADD <i
          class="fas fa-sign-in-alt"></i></button>
    </form>

  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <form #g="ngForm" (ngSubmit)="onSubmit(g)">
      <div class="form-group">
        <label for="hotel">Add a hotel reservation</label>
        <input type="text" name="hotelName" ngModel required #hotel="ngModel" class="form-control" id="hotelName"
          placeholder="Enter hotel name">
        <input type="text" name="address" ngModel required #address="ngModel" class="form-control" id="address"
          placeholder="Enter hotel address">
        <input type="date" name="startingPeriod" ngModel required #startingPeriod="ngModel" class="form-control"
          id="startingPeriod" placeholder="Enter end date">
        <input type="date" name="endingPeriod" ngModel required #endingPeriod="ngModel" class="form-control"
          id="endingPeriod" placeholder="Enter end date">
        <input type="number" name="price" ngModel required #price="ngModel" class="form-control" id="price"
          placeholder="Enter price">
        <input type="number" name="amountAlreadyPaid" ngModel required #amountAlreadyPaid="ngModel" class="form-control"
          id="amountAlreadyPaid" placeholder="Enter how much you paid">
        <input type="text" name="observations" ngModel required #observations="ngModel" class="form-control"
          id="observations" placeholder="Enter some observations">

      </div>

      <button type="submit" (click)="SecondClick()" class="btn btn-primary"> ADD <i
          class="fas fa-sign-in-alt"></i></button>
    </form>

    <form h="ngForm" (ngSubmit)="onSubmit(h)">
      <div class="form-group">
        <label for="hotel">Add a hotel reservation</label>
        <input type="text" name="hotelName" ngModel required #hotel="ngModel" class="form-control" id="hotelName"
          placeholder="Enter hotel name">
        <input type="text" name="address" ngModel required #address="ngModel" class="form-control" id="address"
          placeholder="Enter hotel address">
        <input type="date" name="startingPeriod" ngModel required #startingPeriod="ngModel" class="form-control"
          id="startingPeriod" placeholder="Enter end date">
        <input type="date" name="endingPeriod" ngModel required #endingPeriod="ngModel" class="form-control"
          id="endingPeriod" placeholder="Enter end date">
        <input type="number" name="price" ngModel required #price="ngModel" class="form-control" id="price"
          placeholder="Enter price">
        <input type="number" name="amountAlreadyPaid" ngModel required #amountAlreadyPaid="ngModel" class="form-control"
          id="amountAlreadyPaid" placeholder="Enter how much you paid">
        <input type="text" name="observations" ngModel required #observations="ngModel" class="form-control"
          id="observations" placeholder="Enter some observations">

      </div>

      <button type="submit" (click)="ThirdClick()" class="btn btn-primary"> ADD <i
          class="fas fa-sign-in-alt"></i></button>
    </form>

    
  </div>
</div>