
TheRoadWarrior/.sonarqube/conf/1/FilesToAnalyze.txt
TheRoadWarrior/TheRoadWarrior/obj/Debug/net5.0/TheRoadWarrior.csprojAssemblyReference.cache
TheRoadWarrior/.vs/TheRoadWarrior/v16/Browse.VC.opendb
